<h1>ログイン</h1>
<!--post login route.rb-->
<%= form_with(url: login_path, data: { turbo: 'false' }) do |f| %>
  
  <!-- name -->
  <div class="mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <%= f.submit "Log in" , class: "btn btn-primary" %>
<% end %>

<div class="separator-or my-4">
  <hr>
  <span class="or-text">OR</span>
</div>

<!-- google API login -->
<div class="googlebutton">
  <!-- クライアントライブラリの読み込み 下記1行を追加 -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <!-- Googleログインボタンの表示 start -->
  <div id="g_id_onload"
    data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
    data-login_uri="http://localhost:3000/google_login_api/callback"
    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
  <!-- Googleログインボタンの表示 end -->
</div>
<%= link_to "signup_page" , signup_path%>