<h1> Sign Up </h1>

<%= form_with model: @user, url: signup_path do |form| %>

  <div class="mb-3">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control",
       placeholder: "" %>
       <!--errors-->
       <% @user.errors.full_messages_for(:name).each do |message| %>
         <div class="text-danger">
           <%= message %>
         </div>
       <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, class: "form-control",
             placeholder: "" %>
       <!--errors-->
       <% @user.errors.full_messages_for(:email).each do |message| %>
         <div class="text-danger">
           <%= message %>
         </div>
       <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password"%>
    <%= form.password_field :password, class: "form-control",
                          placeholder: "" %>
       <!--errors-->
       <% @user.errors.full_messages_for(:password).each do |message| %>
         <div class="text-danger">
           <%= message %>
         </div>
       <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, class: "form-control",
                         placeholder: "" %>
       <!--errors-->
       <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
         <div class="text-danger">
           <%= message %>
         </div>
       <% end %>
  </div>
  <div class="mb-3">
   <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- google API singup -->
<div>
  <!-- クライアントライブラリの読み込み 下記1行を追加 -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <!-- Googleサインアップボタンの表示 start -->
  <div id="g_id_onload"
    data-client_id="537001528197-mibeq2ma6aep3ismhd4buk6jjc62jd6t.apps.googleusercontent.com"
    data-login_uri="http://localhost:3000/google_login_api/signup_callback"
    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
  <!-- Googleログインボタン end -->
</div>

<%= link_to "login_page", login_path%>