<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.css" rel="stylesheet">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success" style="color: green;"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger" style="color: red;"><%= alert %></div>
    <% end %>
    
    <%= yield %>
    <%= javascript_importmap_tags %>
  </body>
</html>